<div class="row">             
    <div class="col-md-12"> 
        <form name="miForm" ng-submit="vm.save();" novalidate class="ml-sm mr-sm">
            <div class="panel rounded shadow no-margin">            
                <div class="panel-heading">
                    <div class="pull-left">         
                        <a  ui-sref="{{vm.stateparent}}.list" class="btn btn-danger btn-sm"><i class="fa fa-reply"></i> Volver</a>
                    </div>
                    <div class="pull-right">                        
                        <button class="btn btn-success btn-sm" ng-disabled="miForm.$invalid || miForm.$submitted"><i class="fa fa-floppy-o"></i> Grabar</button>
                    </div>
                    <div class="clearfix"></div>
                </div>     
            </div><!-- /.panel -->

            <!-- Start default tabs -->
            <div class="panel panel-tab  panel-tab-double rounded shadow">
                <!-- Start tabs heading -->
                <div class="panel-heading no-padding">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1-1" data-toggle="tab">                                
                                <i class="fa fa-info-circle"></i>
                                <div>
                                    <span class="text-strong">Datos</span>
                                    <span>Información general</span>
                                </div>
                            </a>
                        </li>                        

                    </ul>
                </div><!-- /.panel-heading -->
                <!--/ End tabs heading --> 

                <!-- Start tabs content -->
                <div class="panel-body">
                    <div class="tab-content"> 
                        <div class="tab-pane fade in active" id="tab1-1"> 
                            <h4>Datos generales</h4>
                            <div class="row">
                                <div class="col-md-12 pb-sm">                        
                                    <label class="col-sm-2 col-xs-6 control-label">Tipo documento: <span class="asterisk">*</span></label>
                                    <div class="col-sm-4 col-xs-6">   
                                        <select ng-model="vm.personal.idtipodocumento_identidad" name="idtipodocumento" class="form-control input-sm" ng-options="item.idtipodocumento_identidad as item.nombre_tipodocumento for item in vm.others.documentos" required ng-disabled="vm.edicion"></select>
                                        <div ng-messages="miForm.idtipodocumento.$error" class="required" role="alert" ng-show="miForm.idtipodocumento.$dirty">
                                            <div ng-message="required">El campo es requerido</div>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-xs-6 control-label">Número: <span class="asterisk">*</span></label>
                                    <div class="col-sm-4 col-xs-6">  
                                        <!--ng-pattern="/^([0-9])*$/"--> 
                                        <input type="text" name="numerodoc" ng-model="vm.personal.numero_documento" class="form-control input-sm mb-5" required maxlength="8" ng-minlength="8" ng-pattern="/^([0-9])*$/" ng-disabled="vm.personal.idtipodocumento_identidad == null" ng-blur="vm.getDocumento();" ng-change="vm.getDocumentoChange();"  />
                                        <div ng-messages="miForm.numerodoc.$error" class="required" role="alert" ng-show="miForm.numerodoc.$dirty">
                                            <div ng-message="required">El campo es requerido</div>
                                            <div ng-message="pattern">N&uacute;mero de documento inv&aacute;lido</div>
                                            <div ng-message="minlength">Debe ser 8 d&iacute;gitos</div>
                                        </div>  
                                        <div class="callout callout-warning mb-20"  ng-show="vm.validacionDocumento.existeEntidad && miForm.numerodoc.$valid">
                                            <p>{{vm.validacionDocumento.nombreEntidad}}. Ya existe.</p>                                            

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pb-sm">                                        
                                    <label class="col-sm-2 col-xs-6 control-label">Apellido paterno: <span class="asterisk">*</span></label> 
                                    <div class="col-sm-4 col-xs-6"> 
                                        <input type="text" name="apellidopat" ng-model="vm.personal.ape_paterno" class="form-control input-sm mb-5" maxlength="50" required />                                    
                                        <div ng-messages="miForm.apellidopat.$error" class="required" role="alert" ng-show="miForm.apellidopat.$dirty">
                                            <div ng-message="required">El campo es requerido</div>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-xs-6 control-label">Apellido materno:</label> 
                                    <div class="col-sm-4 col-xs-6">
                                        <input type="text" name="apellidomat" ng-model="vm.personal.ape_materno" maxlength="50" class="form-control input-sm mb-5" required />
                                    </div> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pb-sm">                                        
                                    <label class="col-sm-2 col-xs-6 control-label">Nombre(s): <span class="asterisk">*</span></label> 
                                    <div class="col-sm-4 col-xs-6">
                                        <input type="text" name="nombre" ng-model="vm.personal.nombres" class="form-control input-sm mb-5" maxlength="50" required />                                    
                                        <div ng-messages="miForm.nombre.$error" class="required" role="alert" ng-show="miForm.nombre.$dirty">
                                            <div ng-message="required">El campo es requerido</div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pb-sm">                                                                                                            
                                    <label class="col-sm-2 col-xs-6 control-label">Fecha nacimiento:</label> 
                                    <div class="col-sm-4 col-xs-6">
                                        <input data-input-mask type="text" name="fecha_nacimiento" ng-model="vm.personal.fecha_nacimiento" maxlength="10" class="form-control input-sm mb-5" data-inputmask="'alias': 'dd/mm/yyyy'" />
                                    </div> 
                                    <label class="col-sm-2 col-xs-6 control-label">Sexo: <span class="asterisk">*</span></label>   
                                    <div class="col-sm-4 col-xs-6">
                                        <div class="rdio rdio-theme circle radio-inline" >
                                            <input type="radio" name="sexo" id="radio-type-masculino" ng-model="vm.personal.sexo" value="M"  ng-required="vm.requiredNombre">
                                            <label for="radio-type-masculino">Masculino</label>
                                        </div>
                                        <div class="rdio rdio-theme circle radio-inline">
                                            <input type="radio" name="sexo" id="radio-type-femenino" ng-model="vm.personal.sexo" value="F" ng-required="vm.requiredNombre">
                                            <label for="radio-type-femenino">Femenino</label>
                                        </div>                                    
                                        <div ng-messages="miForm.sexo.$error" class="required" role="alert" ng-show="miForm.sexo.$dirty">
                                            <div ng-message="required">El campo es requerido</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pb-sm">  
                                    <label class="col-sm-2 col-xs-6 control-label">Teléfono:</label> 
                                    <div class="col-sm-4 col-xs-6">
                                        <input type="text" name="telefono" ng-model="vm.entidad.telefono" class="form-control input-sm mb-5" ng-minlength="9" maxlength="9"/>
                                        <div ng-messages="miForm.telefono.$error" class="required" role="alert" ng-show="miForm.telefono.$dirty">                                            
                                            <div ng-message="minlength">Debe ser 9 d&iacute;gitos</div>
                                        </div>
                                    </div> 
                                    <label class="col-sm-2 col-xs-6 control-label">M&oacute;vil:</label> 
                                    <div class="col-sm-4 col-xs-6">
                                        <input type="text" name="celular" ng-model="vm.entidad.celular" class="form-control input-sm mb-5" ng-minlength="9" maxlength="9"/>
                                        <div ng-messages="miForm.celular.$error" class="required" role="alert" ng-show="miForm.celular.$dirty">                                            
                                            <div ng-message="minlength">Debe ser 9 d&iacute;gitos</div>
                                        </div>
                                    </div> 
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 pb-sm">                                        
                                    <label class="col-sm-2 col-xs-6 control-label">Correo electr&oacute;nico:</label>                             
                                    <div class="col-sm-4 col-xs-6"> 
                                        <input type="email" name="correo" ng-model="vm.entidad.email" class="form-control input-sm mb-5" maxlength="50" />
                                        <div ng-messages="miForm.correo.$error" class="required" role="alert" ng-show="miForm.correo.$dirty">
                                            <div ng-message="email">Correo formato inv&aacute;lido</div>
                                        </div>
                                    </div> 
                                    <label ng-if="vm.stateparent == 'personal' || vm.stateparent == 'medico'" class="col-sm-2 col-xs-6 control-label">Cargo desempeño:</label>                             
                                    <div ng-if="vm.stateparent == 'personal' || vm.stateparent == 'medico'" class="col-sm-4 col-xs-6"> 
                                        <select ng-model="vm.personal.idcargo" ng-options="item.idcargo as item.nombre_cargo for item in vm.others.cargos" class="form-control input-sm mb-5">
                                            <option value="">-- Seleccione --</option>
                                        </select>
                                    </div> 
                                </div>
                            </div> 

                            <div class="row">
                                <div class="col-md-12 pb-sm">  
                                    <label class="col-sm-2 col-xs-6 control-label">Teléfono Adic.:</label> 
                                    <div class="col-sm-4 col-xs-6">
                                        <input type="text" name="telefono_adic" ng-model="vm.entidad.telefono_adic" class="form-control input-sm mb-5" ng-minlength="9" maxlength="9"/>
                                        <div ng-messages="miForm.telefono_adic.$error" class="required" role="alert" ng-show="miForm.telefono.$dirty">                                            
                                            <div ng-message="minlength">Debe ser 9 d&iacute;gitos</div>
                                        </div>
                                    </div> 
                                    <label ng-if="vm.stateparent == 'personal' || vm.stateparent == 'medico'" class="col-sm-2 col-xs-6 control-label">Estado Civil :</label>                             
                                    <div ng-if="vm.stateparent == 'personal' || vm.stateparent == 'medico'" class="col-sm-4 col-xs-6"> 
                                        <select ng-model="vm.personal.idestadocivil" ng-options="item.idestadocivil as item.nombre_estadocivil for item in vm.others.estado_civil" class="form-control input-sm mb-5">
                                            <option value="">-- Seleccione --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <h4 class="mt-10">Direcci&oacute;n</h4>
                            <div class="row">
                                <div class="col-md-12 pb-sm">                                        
                                    <label class="col-sm-2 col-xs-12 control-label">Depart./Prov./Distrito :</label>                             
                                    <div class="col-sm-4 col-xs-4">  
                                        <select name="departamento" ng-model="vm.personal.iddepartamento" ng-options="item.iddepartamento as item.descripcion_ubig for item in vm.others.departamentos" class="form-control input-sm mb-5" ng-change="vm.changeUbigeo({iddepartamento: vm.personal.iddepartamento}, 'provincias')" class="form-control input-sm mb-5" >                                            
                                            <option value="">-- Departamento --</option>
                                        </select>
                                    </div> 
                                    <div class="col-sm-3 col-xs-4">  
                                        <select name="provincia" ng-model="vm.personal.idprovincia" ng-options="item.idprovincia as item.descripcion_ubig for item in vm.others.provincias" class="form-control input-sm mb-5" ng-change="vm.changeUbigeo({iddepartamento: vm.personal.iddepartamento, idprovincia: vm.personal.idprovincia}, 'distritos')" class="form-control input-sm mb-5">
                                            <option value="">-- Provincia --</option>
                                        </select>
                                    </div> 
                                    <div class="col-sm-3 col-xs-4">  
                                        <select name="distrito" ng-model="vm.personal.idubigeo" ng-options="item.idubigeo as item.descripcion_ubig for item in vm.others.distritos" class="form-control input-sm mb-5">
                                            <option value="">-- Distrito --</option>
                                        </select>
                                    </div>                                     
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pb-sm">                                        
                                    <label class="col-sm-2 col-xs-12 control-label">Direcci&oacute;n:</label>                              
                                    <div class="col-sm-10 col-xs-12">                                         
                                        <input type="text" name="direccion" ng-model="vm.personal.direccion" maxlength="100" class="form-control input-sm mb-5"/>                                    
                                    </div> 
                                </div>
                            </div> 
                                                        
                        </div>



                    </div>
                </div><!-- /.panel-body -->
                <!--/ End tabs content -->
            </div><!-- /.panel -->
            <!--/ End default tabs -->            
        </form>
    </div>
</div> 